<!--
    *** FOOTER ***
    _________________________________________________________
    -->
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <h4 class="mb-3">Paginas</h4>
            <ul class="list-unstyled">
              <li><a href="text.html">Acerca de nosotros</a></li>
              <li><a href="text.html">Terminos y condiciones</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="contact.html">Contactanos</a></li>
            </ul>
            <hr>
            <h4 class="mb-3">Clientes</h4>
            <ul class="list-unstyled">
              {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
              <li><a href="{{ url('app_login_client') }}">Iniciar sesión</a></li>
              <li><a href="{{ url('front_user_nuevo') }}">Registro</a></li>
              {% else %}
              <li><a href="{{ url('front_user_micuenta', {'user_uid': app.user.uid, 'crypt' : app.user.crypt }) }}">Mi cuenta</a></li>
              {% endif %}
            </ul>
          </div>
          <!-- /.col-lg-3-->
          <div class="col-lg-3 col-md-6">
            <h4 class="mb-3">Contactanos</h4>
            <p><strong>uniestilos.mx</strong></p>
            <h3>
              <a href="https://api.whatsapp.com/send?phone=7713817111"><i class="fa-brands fa-whatsapp"></i></a>
              <a href="https://api.whatsapp.com/send?phone=7713817111"><i class="fa-brands fa-facebook-messenger"></i></a>
            </h3>
            <hr class="d-block d-md-none">
          </div>
          <!-- /.col-lg-3-->
          <div class="col-lg-3 col-md-6">
            <h4 class="mb-3">Metodos de pago</h4>
            <p class="social">
              <a href="#visa" style="cursor:pointer" class="email external"><i class="fa-brands fa-cc-visa"></i></a>
              <a href="#mastercard" style="cursor:pointer" class="email external"><i class="fa-brands fa-cc-mastercard"></i></a>
              <a href="#paypal" style="cursor:pointer" class="email external"><i class="fa-brands fa-paypal"></i></a>
            </p>
            {# <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            <form>
              <div class="input-group">
                <input type="text" class="form-control"><span class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary">Subscribe!</button></span>
              </div>
              <!-- /input-group-->
            </form> #}
            {# <hr> #}
            <h4 class="mb-3">Redes sociales</h4>
            <p class="social">
              <a href="https://www.facebook.com/profile.php?id=100065168154705" class="facebook external"><i class="fa-brands fa-facebook"></i></a>
              <a href="https://instagram.com/clot.hes775?igshid=YmMyMTA2M2Y=" class="instagram external"><i class="fa-brands fa-instagram"></i></a>
              <a href="#" class="email external"><i class="fa fa-envelope"></i></a>
            </p>
          </div>
          <!-- /.col-lg-3-->
          <div class="col-lg-3 col-md-6">
            <h4 class="mb-3">Top Categorias</h4>
            {% for categoriaTop in categoriasHombre %}
            <h5>{{ categoriaTop.nombre|title }}</h5>
            <ul class="list-unstyled">
              {% for subcategoria in categoriaTop.subcategorias %}
                <li><a href="category.html">{{ subcategoria.nombre|title }}</a></li>
              {% endfor %}
            </ul>
            {% endfor %}
            {% for categoriaTop in categoriasMujer %}
            <h5>{{ categoriaTop.nombre|title }}</h5>
            <ul class="list-unstyled">
              {% for subcategoria in categoriaTop.subcategorias %}
                <li><a href="category.html">{{ subcategoria.nombre|title }}</a></li>
              {% endfor %}
            </ul>
            {% endfor %}
          </div>
        </div>
        <!-- /.row-->
      </div>
      <!-- /.container-->
    </div>
    <!-- /#footer-->
    <!-- *** FOOTER END ***-->
    
    <!--
    *** COPYRIGHT ***
    _________________________________________________________
    -->
    <div id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-2 mb-lg-0">
            <p class="text-center text-lg-left">© 2020 - {{ "now"|date("Y") }} Copyright: <u>technologies productions</u>,  El presente sitio es operado en Pachuca de Soto Hidalgo, México</p>
          </div>
          <div class="col-lg-4">
            <p class="text-center text-lg-right">Template design by <a href="https://bootstrapious.com/">Bootstrapious</a>
              <!-- If you want to remove this backlink, pls purchase an Attribution-free License @ https://bootstrapious.com/p/obaju-e-commerce-template. Big thanks!-->
            </p>
          </div>
        </div>
      </div>
    </div>