<!-- navbar-->
    <header class="header mb-5 sticky-top">
      <!--
      *** TOPBAR ***
      _________________________________________________________
      -->
      <div id="top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offer mb-3 mb-lg-0 form-inline">
              <span class="btn btn-info btn-sm">Temporada navideña</span>
              <i class="fa-solid fa-gift fa-2x ml-4"></i>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
              <ul class="menu list-inline mb-0">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="list-inline-item text-light"><h6>Hola <b>{{ app.user.nombre|capitalize }}</b></h6></li>
                <li class="list-inline-item text-light">
                    <div class="btn-group dropright mt-1" style="z-index:10">
                            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200"><h6>Mi cuenta<b class="caret"></b></h6></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <small><a class="dropdown-item text-dark" href="{{ url('front_cliente_index_compra', {'user_uid': app.user.uid, 'crypt': app.user.crypt }) }}">Mis compras</a></small>
                                <small><a class="dropdown-item text-dark" href="{{ url('front_user_micuenta', {'user_uid': app.user.uid, 'crypt': app.user.crypt}) }}">Mi cuenta</a></small>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-dark" href="{{ url('app_logout_client') }}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
                            </div>
                        </div>
                    </div>
                </li>
                {% else %}
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="list-inline-item"><a href="{{ url('app_login_client') }}">Identificate</a></li>
                <li class="list-inline-item"><a href="{{ url('front_user_nuevo') }}">Registro</a></li>
                {% endif %}
                <li class="list-inline-item"><a href="contact.html">Contacto</a></li>
                {% endif %}
                
            </div>
          </div>
        </div>
        <div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" class="modal fade">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Customer login</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body">
                <form action="customer-orders.html" method="post">
                  <div class="form-group">
                    <input id="email-modal" type="text" placeholder="email" class="form-control">
                  </div>
                  <div class="form-group">
                    <input id="password-modal" type="password" placeholder="password" class="form-control">
                  </div>
                  <p class="text-center">
                    <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                  </p>
                </form>
                <p class="text-center text-muted">Not registered yet?</p>
                <p class="text-center text-muted"><a href="register.html"><strong>Register now</strong></a>! It is easy and done in 1 minute and gives you access to special discounts and much more!</p>
              </div>
            </div>
          </div>
        </div>
        <!-- *** TOP BAR END ***-->
        
        
      </div>
      <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="z-index:1">
        <div class="container"><a href="{{ url('frontend_home_page') }}" class="navbar-brand home"><img src="{{ asset('assets/img/front/logoWebUniestilos.png') }}" style="width:136px;heigth:150px" alt="uniestilos logo" class="d-none d-md-inline-block"><img src="{{ asset('assets/img/front/logoWebUniestilos.png') }}" style="width:93px;heigth:60px" alt="uniestilos" class="d-inline-block d-md-none"><span class="sr-only">Uniestilos</span></a>
          <div class="navbar-buttons">
            <button type="button" data-toggle="collapse" data-target="#navigation" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
            <button type="button" data-toggle="collapse" data-target="#search" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></button><a href="basket.html" class="btn btn-outline-secondary navbar-toggler"><i class="fa fa-shopping-cart"></i></a>
          </div>
          <div id="navigation" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              {#<li class="nav-item"><a href="#" class="nav-link active">Home</a></li>#}
              <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">CATEGORIAS<b class="caret"></b></a>
                <ul class="dropdown-menu megamenu">
                  <li>
                    <div class="row">
                      {% for categoria in categorias %}
                      <div class="col-md-6 col-lg-3">
                        <h5><a href="{{ url('frontend_articulo_por_categoria', {'urlAmigable': categoria.urlAmigable }) }}">{{ categoria.nombre }}</a></h5>
                        {% for subcategoria in categoria.subcategorias %}
                          <ul class="list-unstyled mb-3">
                            <li class="nav-item"><a href="{{ url('frontend_articulo_por_subcategoria', {'urlAmigable': subcategoria.urlAmigable }) }}" class="nav-link">{{ subcategoria.nombre }}</a></li>
                          </ul>
                        {% else %}
                          <ul class="list-unstyled mb-3"> 
                            <li class="nav-item">No hay subcategorias</li> 
                          </ul>
                        {% endfor %}
                      </div>
                      {% endfor %}
                    </div>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">Mujer<b class="caret"></b></a>
                <ul class="dropdown-menu megamenu">
                  <li>
                    <div class="row">
                      {% for categoriaMujer in categoriasMujer %}
                      <div class="col-md-6 col-lg-3">
                        <h5><a href="{{ url('frontend_articulo_por_categoria', {'urlAmigable': categoriaMujer.urlAmigable }) }}">{{ categoriaMujer.nombre }}</a></h5>
                        {% for subcategoriaMujer in categoriaMujer.subcategorias %}
                          <ul class="list-unstyled mb-3">
                            <li class="nav-item"><a href="{{ url('frontend_articulo_por_subcategoria', {'urlAmigable': subcategoriaMujer.urlAmigable }) }}" class="nav-link">{{ subcategoriaMujer.nombre }}</a></li>
                          </ul>
                        {% else %}
                          <ul class="list-unstyled mb-3"> 
                            <li class="nav-item">No hay subcategorias</li> 
                          </ul>
                        {% endfor %}
                      </div>
                      {% endfor %}
                    </div>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">Hombre<b class="caret"></b></a>
                <ul class="dropdown-menu megamenu">
                  <li>
                    <div class="row">
                      {% for categoriaHombre in categoriasHombre %}
                      <div class="col-md-6 col-lg-3">
                        <h5><a href="{{ url('frontend_articulo_por_categoria', {'urlAmigable': categoriaHombre.urlAmigable }) }}">{{ categoriaHombre.nombre }}</a></h5>
                        {% for subcategoriaHombre in categoriaHombre.subcategorias %}
                          <ul class="list-unstyled mb-3">
                            <li class="nav-item"><a href="{{ url('frontend_articulo_por_subcategoria', {'urlAmigable': subcategoriaHombre.urlAmigable }) }}" class="nav-link">{{ subcategoriaHombre.nombre }}</a></li>
                          </ul>
                        {% else %}
                          <ul class="list-unstyled mb-3"> 
                            <li class="nav-item">No hay subcategorias</li> 
                          </ul>
                        {% endfor %}
                      </div>
                      {% endfor %}
                    </div>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">Niña<b class="caret"></b></a>
                <ul class="dropdown-menu megamenu">
                  <li>
                    <div class="row">
                      {% for categoriaNiña in categoriasNiña %}
                      <div class="col-md-6 col-lg-3">
                        <h5><a href="{{ url('frontend_articulo_por_categoria', {'urlAmigable': categoriaNiña.urlAmigable }) }}">{{ categoriaNiña.nombre }}</a></h5>
                        {% for subcategoriaNiña in categoriaNiña.subcategorias %}
                          <ul class="list-unstyled mb-3">
                            <li class="nav-item"><a href="{{ url('frontend_articulo_por_subcategoria', {'urlAmigable': subcategoriaNiña.urlAmigable }) }}" class="nav-link">{{ subcategoriaNiña.nombre }}</a></li>
                          </ul>
                        {% else %}
                          <ul class="list-unstyled mb-3"> 
                            <li class="nav-item">No hay subcategorias</li> 
                          </ul>
                        {% endfor %}
                      </div>
                      {% endfor %}
                    </div>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">Niño<b class="caret"></b></a>
                <ul class="dropdown-menu megamenu">
                  <li>
                    <div class="row">
                      {% for categoriaNiño in categoriasNiño %}
                      <div class="col-md-6 col-lg-3">
                        <h5><a href="{{ url('frontend_articulo_por_categoria', {'urlAmigable': categoriaNiño.urlAmigable }) }}">{{ categoriaNiño.nombre }}</a></h5>
                        {% for subcategoriaNiño in categoriaNiño.subcategorias %}
                          <ul class="list-unstyled mb-3">
                            <li class="nav-item"><a href="{{ url('frontend_articulo_por_subcategoria', {'urlAmigable': subcategoriaNiño.urlAmigable }) }}" class="nav-link">{{ subcategoriaNiño.nombre }}</a></li>
                          </ul>
                        {% else %}
                          <ul class="list-unstyled mb-3"> 
                            <li class="nav-item">No hay subcategorias</li> 
                          </ul>
                        {% endfor %}
                      </div>
                      {% endfor %}
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="navbar-buttons d-flex justify-content-end">
              <!-- /.nav-collapse-->
              <div id="search-not-mobile" class="navbar-collapse collapse"></div><a data-toggle="collapse" href="#search" class="btn navbar-btn btn-primary d-none d-lg-inline-block"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></a>
              <div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block"><a href="{{ url('front_carrito_index') }}" class="btn btn-sm btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span>carrito</span></a></div>
            </div>
          </div>
        </div>
      </nav>
      <div id="search" class="collapse">
        <div class="container">
          <form role="search" class="ml-auto">
            <div class="input-group">
              <input type="text" placeholder="Search" class="form-control">
              <div class="input-group-append">
                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </header>