{% extends 'home_page/homePage2.html.twig' %}
{% block title %}Carrito de compras{% endblock %}
{% block content %}
    <div id="all">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- breadcrumb-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ url('frontend_home_page') }}">Inicio</a></li>
                                <li aria-current="page" class="breadcrumb-item active">Carrito de compras</li>
                            </ol>
                        </nav>
                    </div>
                    <div id="checkout" class="col-lg-9">
                        <div class="box">
                            {% form_theme form 'bootstrap_4_layout.html.twig' %}
                            {{ form_start(form, {'id': 'seleccionar_direccion_carrito', 'attr' : {'class' : 'selectDirection'}}) }}
                                <h3>Seleccionar dirección envio</h3>
                                <div class="nav flex-column flex-md-row nav-pills text-center mt-4">
                                    <a href="checkout1.html" class="nav-link flex-sm-fill text-sm-center active">
                                        <i class="fa-solid fa-map-location-dot"></i>Direccion</a>
                                    <a href="#" class="nav-link flex-sm-fill text-sm-center disabled">
                                        <i class="fa-regular fa-credit-card "></i>Metodo pago</a>
                                    <a href="#" class="nav-link flex-sm-fill text-sm-center disabled">
                                        <i class="fa fa-eye"></i>Resumen de la compra</a>
                                </div>
                                <div class="content">
                                    <div class="card small">
                                        <div class="form-row small text-left">
                                            {{ form_label(form.clienteDireccion) }}
                                            {{ form_widget(form.clienteDireccion) }}
                                            {{ form_errors(form.clienteDireccion) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="text-left small mt-2">
                                    <a href="">Nueva Dirección</a>
                                </div>
                                <div class="box-footer d-flex justify-content-between">
                                    <a href="{{ url('front_carrito_index') }}" class="btn btn-outline-secondary">
                                        <i class="fa fa-chevron-left"></i>Regresar al carrito</a>
                                        <a href="{{ url('front_carrito_metodo_pago', {'user_uid': app.user.uid, 'crypt': app.user.crypt }) }}" class="btn btn-primary">Metodo de pago <i class="fa fa-chevron-right"></i></a>
                                    </button>
                                </div>
                            {{ form_end(form) }}
                            <style>
                                legend{
                                    display:none;
                                }
                            </style>
                        </div>
                        <!-- /.box-->
                    </div>
                    <!-- /.col-lg-9-->
                    <div class="col-lg-3">
                        <div id="order-summary" class="box">
                            <div class="box-header">
                                <h3 class="mb-0">Resumen de la compra</h3>
                            </div>
                            <p class="text-muted">Los costos extras son calculados en base a tu compra</p>
                            <div class="table-responsive">
                                <table class="table table-small">
                                    <tbody class="small">
                                    <tr>
                                        <td>Subtotal</td>
                                        <th>$<span class="subtotal">{{ carrito.total|number_format(2) }}</span></th>
                                    </tr>
                                    <tr>
                                        <td>Descuento</td>
                                        <th>$<span class="descuento">{{ carrito.descuento ? carrito.descuento|number_format(2) : '0.00' }}</span></th>
                                    </tr>
                                    <tr>
                                        <td>Envio</td>
                                        <th>$<span class="envio">{{ carrito.envio|number_format(2) }}</span></th>
                                    </tr>
                                    <tr class="total">
                                        <td>Total</td>
                                        <th>$<span class="totalConEnvio">{{ carrito.totalConEnvio|number_format(2) }}</span></th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-3-->
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#seleccionar_direccion_clienteDireccion').change(function(e){
            e.preventDefault();
            datos = $('.selectDirection').serialize();
            $.ajax({
                type: "POST",
                url: $('#seleccionar_direccion_carrito').attr('action'),
                data: datos,
                success: function (s) {
                    rs = JSON.parse(s);
                    if (rs.type == 'success') {
                        setTimeout(function(){
                            showFlotante('Direccion seleccionada correctamente <i class="fa-solid fa-badge-check fa-bounce"  style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; "></i>');
                        }, 500);
                        setTimeout(hideFlotante, 2500);
                    } else {
                        Swal.fire({title: "Oops", text: rs.message, timer: 2000, icon: "error", button: false, });
                    }
                },
                error: function (s) {
                    Swal.fire({title: "Oops", text: 'Error en la peticion', timer: 3000, icon: "error", button: false, });
                }
            });
        });
    </script>
{% endblock %}
