{% extends 'base.html.twig' %}

{% block title %}RoleSistema index{% endblock %}

{% block body %}
    <h1>RoleSistema index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role_sistema in role_sistemas %}
            <tr>
                <td>{{ role_sistema.id }}</td>
                <td>{{ role_sistema.nombre }}</td>
                <td>{{ role_sistema.role }}</td>
                <td>
                    <a href="{{ path('role_sistema_show', {'id': role_sistema.id}) }}">show</a>
                    <a href="{{ path('role_sistema_edit', {'id': role_sistema.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('role_sistema_new') }}">Create new</a>
{% endblock %}
