{% if app.user is not null %}
    {% if app.user.tipoUser == 'E' %}
        {% set usuario = 'Empleado' %}
        {% set vista = 'backend/Default/homePage.html.twig' %}
    {% else %}
        {% set usuario = 'Cliente' %}
        {% set vista = 'home_page/homePage2.html.twig' %}
    {% endif %}
{% else %}
    {% set usuario = 'Cliente' %}
    {% set vista = 'home_page/homePage2.html.twig' %}
{% endif %}
{% extends vista %}
{% block title %}Error 400{% endblock title %}
{% block content %}
    {% if usuario == 'Cliente' %}
        <div id="all">
            <div id="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- breadcrumb-->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ url('frontend_home_page') }}">Inicio</a></li>
                                    <li aria-current="page" class="breadcrumb-item active">Error 404</li>
                                </ol>
                            </nav>
                            <div id="error-page" class="row">
                                <div class="col-md-6 mx-auto">
                                    <div class="box text-center py-5">
                                        <p class="text-center">Lo sentimos, esta p치gina no est치 disponible o no se ha encontrado</p>
                                        <p class="text-muted">Error {{ status_code }}: {{ status_text }}</p>
                                        <p class="buttons"><a href="{{ url('frontend_home_page') }}" class="btn btn-primary"><i class="fa fa-home"></i> Ir a inicio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="error-content">
                <h2>Error {{ status_code }}</h2>
                <p>Lo sentimos, esta p치gina no est치 disponible o no se ha encontrado</p>
                <p>Mensaje error: {{ status_text }}</p>
                <a href="#" onclick="window.history.back();">Regresar</a>
            </div>
        </div>
    {% endif %}
{% endblock %}